@import '../../sass/globals';

.EditPopup {
  // TODO: style me!
  background-color: rgba($kara-light-grey, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.InnerWindow {
  background-color: $kara-light-grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 50%;
  min-height: 20rem;
  min-width: 30rem;
  padding: 3rem;
  padding-bottom: 1rem;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.Trashcan {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.ContentContainer {
  padding-bottom: 2rem;
}
