@import '/Users/dev/Documents/projects/codeworks/senior/thesis/kara/client/src/sass/globals';

.CancelSave {
  align-items: space-between;
  align-self: end;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
