@import '/Users/dev/Documents/projects/codeworks/senior/thesis/kara/client/src/sass/globals';

.MainInfo {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  padding-bottom: 3rem;
  padding-left: $main-info-left-padding;
  position: relative;
}

.ProfilePic {
  background: $kara-cream-white;
  border-radius: 100%;
  height: 14rem;
  width: 14rem;
}

.PicContainer {
  align-items: center;
  display: flex;
  height: 14.5rem;
  justify-content: center;
  position: relative;
  width: 14.5rem;
}

.InfoText {
  // align-items: space-around;
  // display: flex;
  // flex-direction: column;
  height: 14rem;
  // justify-content: space-around;
  margin-left: 2rem;
}

h1 {
  padding-bottom: 1rem;
}

h2 {
  line-height: 2.5rem;
}

.buttonContainer {
  padding-top: 1rem;
}
