@import '/Users/dev/Documents/projects/codeworks/senior/thesis/kara/client/src/sass/globals';

$nav-width: 20%;
$add-width: 20%;

.ProfileLayout {
  // TODO: style me!
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.ProfileBody {
  display: flex;
  flex-direction: row;
  height: calc(100vh - #{$profile-layout-header-height});
}

.ProfileMain {
  height: 100%;
  overflow: auto;
  width: 100% - $nav-width - $add-width;
}

.ProfileNav {
  background: $kara-light-blue;
  color: $kara-cream-white;
  height: 100%;
  padding-left: 2rem;
  padding-top: 3rem;
  width: $nav-width;
}

.ProfileAdds {
  background: $kara-cream-white;
  height: 100%;
  width: $add-width;
}
