@import '../../sass/globals';

$nav-width: 20%;
$add-width: 20%;

.ProfileLayout {
  min-height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.ProfileBody {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - #{$profile-layout-header-height});
}

.ProfileMain {
  height: 100%;
  overflow: auto;
  width: 100% - $nav-width - $add-width;
}

.ProfileNav {
  background: $kara-light-blue;
  border-radius: 0 10px 0 0;
  color: $kara-cream-white;
  min-height: 100%;
  min-width: 15rem;
  padding-left: 1rem;
  padding-top: 2rem;
  width: $nav-width;
}

.ProfileAdds {
  background: $kara-cream-white;
  height: 100%;
  width: $add-width;
}
