@import '../../../sass/globals';

.TalentSignUp5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;

  .FormHeader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    position: relative;
    top: 2rem;
  }

  .Logo {
    height: 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    max-width: 100%;
  }

  .FormWrapper {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-top: 2rem;
    min-height: 26rem;
    min-width: 20rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
  }

  Button {
    background-color: $kara-light-blue;
    color: rgb(255, 255, 255);
    margin-top: 1rem;
  }

  Button:hover {
    background-color: $kara-dark-blue;
  }

  .ButtonWrapper {
    display: flex;
    justify-content: space-between;
    // margin-top: 2rem;
    min-width: 12rem;
  }

  .Frame {
    align-items: center;
    border: 2px solid rgba(211, 220, 225, 1);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: center;
    overflow: visible;
    width: 15rem;
  }

  .Picture {
    border: 2px solid rgba(211, 220, 225, 1);
    border-radius: 50%;
    height: 100px;
    overflow: visible;
    position: relative;
    top: -3rem;
    vertical-align: middle;
    width: 100px;
    z-index: 2;
  }

  .Text {
    font-size: 0.9rem;
    padding: 1rem;
  }

  .ProfileInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -1.5rem;
  }

  .Info {
    font-size: 0.9rem;
  }

  .InputWrapper {
    left: 1.7rem;
    position: relative;
  }

  .Input {
    display: flex;
    font-size: 0.9rem;
    font-weight: lighter;
  }
}
