@import '../../sass/globals';

.EditableList {
  font-size: 0.8rem;
  max-width: 35rem;
  min-height: 5rem;
  min-width: 10rem;
  padding-bottom: 1.5rem;

  ul {
    padding-left: $main-info-left-padding;
  }
}

.HeadingContainer {
  align-items: flex-end;
  display: flex;

  h2 {
    padding-right: 1rem;
    padding-top: 1rem;
  }
}

.Icon {
  cursor: pointer;
}

.ListItem {
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  min-height: 3rem;
  overflow: visible;
  position: relative;
}

.UnorderedList {
  overflow: visible;
}
