$kara-cream-white: rgb(224, 241, 244);
$kara-light-blue: rgb(0, 168, 198);
$kara-dark-blue: rgb(32, 53, 70);
$kara-signal-yellow: rgb(243, 255, 113);
$kara-light-grey: #ccc;
$kara-white: #fff;
$kara-black: #111;
