@import '../../sass/globals';

.Button {
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 4px 3px 0 2px rgb(0, 0, 0);
  box-shadow: 4px 3px 0 2px rgb(0, 0, 0);
  box-shadow: 4px 3px 0 2px rgb(0, 0, 0);
  color: $kara-cream-white;
  cursor: pointer;
  font-size: 1rem;
  padding-left: 15px;
  padding-right: 15px;
}

