@import '../../sass/globals';

.Button {
  background-color: rgb(255, 255, 255);
  border: 2px solid $kara-dark-blue;
  border-radius: 7px;
  color: $kara-dark-blue;
  cursor: pointer;
  font-size: 1rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
}

