@import '../../sass/globals.scss';

.Button {
  color: $kara-cream-white;
  font-size: 1rem;
  border: 2px solid black;
  -moz-box-shadow:    4px 3px 0px 2px black;
  -webkit-box-shadow: 4px 3px 0px 2px black;
  box-shadow:         4px 3px 0px 2px black;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
}

