@import '../../../sass/globals';

.TalentSignUp1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;

  .FormHeader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
  }

  .FormWrapper {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    min-height: 20rem;
    min-width: 18rem;
    padding: 2.5rem;
  }

  .Logo {
    height: 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    max-width: 100%;
  }

  .Text {
    font-size: 1.1rem;
    font-weight: lighter;
    margin-bottom: 2rem;
    margin-top: 1.1rem;
    text-align: center;
  }

  .DropDownWrapper {
    display: flex;
    flex-direction: column;
  }

  Label {
    font-size: 0.9rem;
    padding-top: 0.3rem;
  }

  Select {
    border-radius: 7px;
    box-shadow: none;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.3rem;
  }

  .Form {
    display: flex;
    flex-direction: column;
    min-width: 12rem;
  }

  Button {
    background-color: $kara-light-blue;
    color: rgb(255, 255, 255);
    margin-top: 1rem;
  }

  Button:hover {
    background-color: $kara-dark-blue;
  }

  .ButtonWrapper {
    display: flex;
    justify-content: space-between;
    min-width: 12rem;
  }
}

@media only screen and (max-width: 864px) {      
  .TalentSignUp1 {
    .Text {
      max-width: 20rem;
    }
  }
}
