@import '../../../sass/globals';

.TalentSignUp2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;

  .FormHeader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    position: relative;
    top: 2rem;
  }

  .FormWrapper {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    min-height: 20rem;
  }

  .Logo {
    height: 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    max-width: 100%;
  }

  .Text {
    font-size: 1.1rem;
    font-weight: lighter;
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
  }

  .TextLink {
    color: $kara-dark-blue;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
  }

  .RadioContainer {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .IconContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.5rem;
    text-align: center;
    width: 8rem;
  }

  .Icon {
    height: 3.5rem;
    margin-bottom: 1rem;
    width: 3.5rem;
  }

  Button {
    background-color: $kara-light-blue;
    color: rgb(255, 255, 255);
  }

  Button:hover {
    background-color: $kara-dark-blue;
  }

  .ButtonWrapper {
    display: flex;
    justify-content: space-between;
    min-width: 12rem;
  }
}

@media only screen and (max-width: 864px) {      
  .TalentSignUp2 {
    .Text {
      font-size: 1rem;
    }

    .IconContainer {
      width: 7rem;
    }
  }
}
