@import '../../sass/globals';

.BodyContainer {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
  padding-top: 1rem;
}

h3 {
  color: $kara-light-blue;
  margin: 1rem;
  padding-bottom: 0.5rem;
}

ul {
  list-style: none;
}

li {
  padding: 1rem;
}

.LeftContainer {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.ItemContainer {
  align-items: center;
  border-color: $kara-light-grey;
  border-style: solid;
  border-width: 2.5px;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-right: 0.5rem;
}

.ItemContainer {
  align-items: center;
  border-color: $kara-light-grey;
  border-style: solid;
  border-width: 2.5px;
  color: $kara-dark-blue;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-right: 0.5rem;
}

.ItemContainer:hover {
  color: $kara-cream-white;
  font-weight: normal;
}

.Arrow {
  height: 2rem;
  width: 2rem;
}

.ImgContainer {
  max-width: 70vw;
}

.Hospital {
  height: auto;
  width: 90%;
}

@media only screen and (max-width: 864px) {      
  .BodyContainer {
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 0.1rem;
    padding-top: 1rem;
  }

  .LeftContainer {
    align-items: center;
    justify-content: center;
    justify-items: center;
    min-width: 90vw;
  }

  h3 {
    color: $kara-light-blue;
    margin: 0;
    max-width: 70vw;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    text-align: center;
  }

  .ImgContainer {
    align-self: center;
    margin: 0.5rem;
    margin-top: 1rem;
    padding-top: 0.75rem;
  }
}
