@import '../../sass/globals';

.BodyContainer {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
  padding-top: 1rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
}

span {
  font-size: 1.25rem;
  font-weight: normal;
}

ul {
  list-style: none;
}

li {
  padding: 1rem;
}

.LeftContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.ItemContainer {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  color: $kara-dark-blue;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-right: 0.5rem;
  width: 40vw;
}

.ItemContainer:hover {
  color: $kara-cream-white;
  font-weight: normal;
}

.Arrow {
  height: 2rem;
  width: 2rem;
}

.ImgContainer {
  max-width: 70vw;
}

.Hospital {
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 864px) {      
  .BodyContainer {
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 0.1rem;
    padding-top: 1rem;
  }

  .LeftContainer {
    align-items: center;
    justify-content: center;
    justify-items: center;
    min-width: 90vw;
  }

  h3 {
    margin: 0;
    max-width: 80vw;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }

  .ItemContainer {
    width: 90vw;
  }

  .ImgContainer {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    margin-top: 1rem;
    padding-top: 0.75rem;
  }
}
