@import '../../sass/globals';

.Header {
  align-items: center;
  color: $kara-dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.Logo {
  height: 3rem;
  max-width: 100%;
}

// .BurgerMenu {
//   display: none;
// }

.Menu {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.CenteredMenu {
  align-items: center;
  display: flex;
  list-style: none;
  padding-top: 0.5rem;
}

.RightMenu {
  align-items: center;
  display: flex;
  list-style: none;
  padding-top: 0.5rem;
  position: absolute;
  right: 3rem;
}

a {
  color: $kara-dark-blue;
  text-decoration: none;
}

a:hover {
  background-color: $kara-light-blue;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition-duration: 0.4s;
}

.Item {
  margin-right: 0.75rem;
  padding: 0.75rem;
}

.ButtonWrapper {
  overflow: hidden;
}

.ButtonWrapper > Button:hover {
  background-color: $kara-light-blue;
  color: rgb(255, 255, 255);
  transition-duration: 0.4s;
}

@media only screen and (max-width: 1074px) {    
  .Header {
    align-content: center;
    justify-content: space-between;
    max-width: 100vw;
    min-height: 5rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
  }

  .Menu {
    display: none;
  }

  // .BurgerMenu {
  //   left: 0.5rem;
  //   position: absolute;
  // }
  
  .Item {
    font-size: 0.95rem;
    margin-right: 0.25rem;
    padding: 0.5rem;
  }

  .ButtonWrapper > Button {
    font-size: 0.95rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
  }

}
