@import '../../sass/globals.scss';

.Header {
  align-items: center;
  background-color: $kara-dark-blue;
  color: $kara-cream-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 100vw;
}

.logo {
  height: 3rem;
  max-width: 100%;
}

.menu {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.centeredMenu {
  align-items: center;
  display: flex;
  list-style: none;
  padding-top: 0.5rem;
}

.rightMenu {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-self: right;
  list-style: none;
  padding-top: 0.5rem;
  position: absolute;
  right: 3rem;
}

li {
  padding: 1rem;
}

a {
  color: $kara-cream-white;
  text-decoration: none;
}

a:hover {
  background-color: $kara-light-blue;
  color: $kara-dark-blue;
  font-weight: bold;
  transition-duration: 0.4s;
}

.item {
  margin-right: 0.75rem;
  padding: 0.75rem;
}

.buttonWrapper > Button {
  background-color: $kara-light-blue;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
}

.buttonWrapper > Button:hover {
  color: $kara-dark-blue;
  transition-duration: 0.4s;
}
