@import '../../sass/globals';

.ProfileNav {
  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    font-size: 1rem;
  }

  .ItemWrapper {
    align-items: center;
    display: flex;
    justify-content: start;
    padding: 0.2rem;
  }

  .Icon {
    align-items: center;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
  }

  .IconText {
    padding-left: 0.7rem;
  }
}

