@import '../../sass/globals';

.TalentSkills {
  font-size: 0.8rem;
  padding-bottom: $profile-vertical-gutter;
  padding-left: $main-info-left-padding;

  .Wrapper {
    border: 2px solid $kara-dark-blue;
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 0 $main-info-left-padding;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  h1 {
    margin-left: 1rem;
    padding-bottom: 0.5rem;
  }
}
