@font-face {
  font-family: 'hkNova';
  src: url('../../assets/fonts/HKNova-BoldR.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/HKNova-BoldR.woff2') format('woff2'),
    url('../../assets/fonts/HKNova-BoldR.woff') format('woff'); /* Pretty Modern Browsers */
}

$font-main: 'hkNova', sans-serif;

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: $font-main;
  font-weight: lighter;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: $kara-dark-blue;
}
